:markdown
  Have you heard the people involved in the DNC and Podesta leaks claim that the Wikileaks email dumps cannot be trusted? Many of those implicated have said that the emails could have been --and indeed were -- tampered with.

  Unfortunately for them, they're lying and we can prove it. As [[[someguy]]] has pointed out, a large number of the emails are cryptographically signed using the DKIM protocol. This means that emails with these signatures can be shown to be authentic, and unaltered, on the authority of the the owners of the sending mail server. These signatures are practically impossible to fake, and work similarly to the security provided when using secure http, or "https".

  This site provides an easy way to verify whether any given email from the dump can be authenticated. You can also check the authenticity of the emails yourself by loading them with Thunderbird, but that takes too long. 
  
  So when someone asks, "How do we even know these emails are real?" -- just send them to authentileaks.com to find out.
%p
  So far, #{count} emails have been checked. Of those, #{count_signed} (#{count_signed_pct}%) have a signature, and #{signed_authentic_percent}% of those are authentic. #{unknown_or_inauthentic} either are not signed or have a non-matching or invalid signature.
